
<div id="first-container">
    <h5>There are {{data.teamsAmount}} teams</h5>
    <a href="/team/new"><button type="button" class="btn btn-primary">Add Team</button></a>
</div>

<div id="table-container">
    <table class="table" id="table">
        <thead>
            <tr class="table-dark text-center">
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each data.teams as |team|}}
            <tr class="table-dark text-center">
                <td><img id="image-logo" src="{{team.crestUrl}}" alt="{{team.name}}"></td>
                <td>{{team.name}}</td>
                <td> 
                    <a href='/team/{{team.tla}}/watch'>watch,</a>  
                    <a href="/team/{{team.tla}}/edit">edit,</a>  
                    <a href="/team/{{team.tla}}/delete">remove</a> 
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>